body{
    font-family: 'Open Sans Condensed', sans-serif;
}

td, th {
    padding: 1px 4px;
}

.bar-chart{
    background-color: white;
    margin: auto;
    display: block;
}

    
.bar {
    fill: #89023E;
}

